@media screen, print {
  body,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  blockquote,
  pre,
  abbr,
  address,
  code,
  em,
  img,
  small,
  strong,
  sub,
  sup,
  dl,
  dt,
  dd,
  ol,
  ul,
  li,
  fieldset,
  form,
  label,
  legend,
  table,
  caption,
  tr,
  th,
  td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
    text-align: left; }

  article,
  aside,
  figure,
  footer,
  header,
  hgroup,
  menu,
  nav,
  section,
  menu,
  time,
  mark,
  audio,
  video {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
    text-align: left; }

  article,
  aside,
  figure,
  footer,
  header,
  hgroup,
  nav,
  section,
  details {
    display: block; } }
@media screen, print {
  ::selection {
    background: #00a9e0;
    color: white;
    text-shadow: none; }

  ::-moz-selection {
    background: #00a9e0;
    color: white;
    text-shadow: none; }

  ::-webkit-scrollbar {
    background: #f5f5f5;
    -webkit-border-radius: 2px 2px 2px 2px;
    -moz-border-radius: 2px 2px 2px 2px;
    border-radius: 2px 2px 2px 2px;
    width: 12px; }

  ::-webkit-scrollbar-track {
    background: #fafafa;
    border-left: 1px solid #d9d9d9; }

  ::-webkit-scrollbar-thumb {
    background: #00759b;
    border: 1px solid #016484; }

  ::-webkit-scrollbar-thumb:hover {
    background: #00a9e0;
    -webkit-box-shadow: inset 0 0 3px #00759b;
    -moz-box-shadow: inset 0 0 3px #00759b;
    box-shadow: inset 0 0 3px #00759b; }

  abbr[title] {
    border-bottom: 1px dotted #333333;
    cursor: help; }

  body {
    background: #eeeeee;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#eeeeee), to(#f5f5f5));
    background-image: -moz-linear-gradient(top, #eeeeee, #f5f5f5);
    background: linear-gradient(top, #eeeeee, #f5f5f5);
    -ms-filter: formatstring("\"progid:DXImageTransform.Microsoft.gradient(startColorStr='{0}', EndColorStr='{1}')\"", #eeeeee, #f5f5f5);
    background-attachment: fixed;
    background-repeat: no-repeat;
    color: #333333;
    font-size: 81.3%;
    font-family: Helvetica, Arial, "DejaVu Sans", "Liberation Sans", Freesans, sans-serif;
    font-smooth: always;
    height: 100%;
    line-height: 1.5;
    margin: 0;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased; }

  code,
  pre {
    background: #f5f5f5;
    border: 1px dotted #d9d9d9;
    -webkit-border-radius: 2px 2px 2px 2px;
    -moz-border-radius: 2px 2px 2px 2px;
    border-radius: 2px 2px 2px 2px;
    display: block;
    font-family: Consolas, "Lucida Console", "DejaVu Sans Mono", monospace;
    margin: 0 0 15px;
    padding: 15px 15px;
    text-wrap: wrap;
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    word-wrap: break-word; }

  html {
    height: 100%;
    overflow-y: scroll; }

  p {
    margin-bottom: 15px; }

  ol,
  ul {
    list-style-position: inside;
    margin: 0 0 15px 15px; }

  ul {
    list-style-type: disc; }

  ol {
    list-style-type: decimal; }

  li {
    margin: 0 0 5px; }

  small {
    font-size: 0.846em; }

  strong,
  b {
    color: #555555;
    font-weight: 700; }

  table {
    background: #fafafa;
    border-collapse: collapse;
    border-spacing: 0;
    border-top: 1px solid #d9d9d9;
    border-right: 1px solid #d9d9d9;
    border-bottom: 1px solid #d9d9d9;
    -webkit-border-radius: 2px 2px 2px 2px;
    -moz-border-radius: 2px 2px 2px 2px;
    border-radius: 2px 2px 2px 2px;
    font-size: 1em;
    margin: 0 0 15px;
    table-layout: fixed;
    width: 100%; }
    table caption {
      color: #555555;
      font-family: Cambria, "Times New Roman", "Nimbus Roman No9 L", "Freeserif", Times, serif;
      font-size: 2em;
      margin: 0 0 5px; }
    table td,
    table th {
      border-left: 1px solid #d9d9d9;
      padding: 10px 10px; }
    table th {
      background: #f5f5f5;
      font-weight: 700; }
    table td {
      border-top: 1px solid #d9d9d9; }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  .h1,
  .h2,
  .h3,
  .h4,
  .h5 {
    color: #555555;
    font-family: Cambria, "Times New Roman", "Nimbus Roman No9 L", "Freeserif", Times, serif;
    font-weight: 400;
    font-size: 1em;
    margin: 0 0 15px; }

  h1,
  .h1 {
    font-size: 2.769em;
    letter-spacing: 2px;
    line-height: 1.2;
    text-transform: uppercase; }

  h2,
  .h2 {
    font-size: 2em;
    line-height: 1.2; }

  h3,
  .h3 {
    font-size: 1.846em; }

  h4,
  .h4 {
    font-size: 1.538em; }

  h5,
  h6,
  .h5 {
    font-size: 1.231em; }

  a {
    color: #00a9e0;
    cursor: pointer;
    text-decoration: none;
    outline: none;
    /*&:visited {
    	color: $colour-action-dark;
    }*/ }
    a:hover, a:active, a:focus {
      color: #00759b;
      text-decoration: underline; } }
@media only screen and ( min-width: 480px ) and ( max-width: 850px ) {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  ol,
  p,
  ul,
  table {
    margin-bottom: 10px; } }
@media only screen and ( min-width: 320px ) and ( max-width: 519px ) {
  body {
    font-size: 76%; }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  ol,
  p,
  ul,
  table {
    margin-bottom: 10px; }

  table td,
  table th {
    padding: 5px 5px; } }
@media screen {
  .access {
    left: -9999em;
    position: absolute;
    top: -9999em; }

  .hide {
    display: none; }

  .invisible {
    visibility: hidden; }

  .img-right {
    float: right;
    margin: 0 0 5px 15px; }

  .img-left {
    float: right;
    margin: 0 15px 5px 0; }

  .tabula-rasa {
    background: white;
    border: 1px solid #cccccc;
    -webkit-border-radius: 2px 2px 2px 2px;
    -moz-border-radius: 2px 2px 2px 2px;
    border-radius: 2px 2px 2px 2px;
    margin: 0 0 15px;
    overflow: hidden;
    padding: 15px 10px 10px; }

  .txt-justify {
    text-align: justify; }

  .list-plain {
    list-style-type: none;
    margin-left: 0; } }
@media only screen and ( min-width: 480px ) and ( max-width: 850px ) {
  .tabula-rasa {
    margin: 0 0 10px; } }
@media only screen and ( min-width: 320px ) and ( max-width: 519px ) {
  .img-right {
    margin-left: 5px; }

  .img-left {
    margin-right: 5px; } }
@media only screen and ( min-width: 320px ) and ( max-width: 479px ) {
  .img-right,
  .img-left {
    margin: 0 0 5px; }

  .tabula-rasa {
    margin: 0 0 5px; } }
@media screen {
  .page {
    clear: left;
    margin: 0 auto;
    max-width: 1350px;
    padding: 0 10px 0 10px; }

  .grid-primary,
  .grid-secondary {
    clear: left;
    float: left;
    width: 100%; }

  .grid {
    display: inline;
    float: left; }

  .w-20 {
    width: 20%; }

  .w-25 {
    width: 25%; }

  .w-33 {
    width: 33.33%; }

  .w-50 {
    width: 50%; }

  .w-75 {
    width: 75%; }

  .pad {
    padding: 0 10px; } }
@media only screen and ( min-width: 480px ) and ( max-width: 850px ) {
  .page {
    padding: 0 10px 0 10px; }

  .w-20,
  .w-33,
  .grid-secondary > .w-25 {
    width: 50%; }

  .w-20:last-child,
  .w-33:last-child {
    clear: left;
    width: 100%; }

  .grid-primary > .w-25,
  .grid-primary > .w-50,
  .grid-primary > .w-75 {
    width: 100%; } }
@media only screen and ( min-width: 320px ) and ( max-width: 519px ) {
  .page {
    padding: 0 5px 0 5px; } }
@media only screen and ( min-width: 320px ) and ( max-width: 479px ) {
  .grid {
    width: 100%; }

  .pad {
    padding: 0 5px; } }
@media screen {
  button,
  .button {
    background: none;
    border: 1px solid transparent;
    -webkit-border-radius: 2px 2px 2px 2px;
    -moz-border-radius: 2px 2px 2px 2px;
    border-radius: 2px 2px 2px 2px;
    color: #00a9e0;
    cursor: pointer;
    float: right;
    font-family: Helvetica, Arial, "DejaVu Sans", "Liberation Sans", Freesans, sans-serif;
    font-size: 1em;
    line-height: 1;
    margin: 0 0 0 10px;
    overflow: visible;
    padding: 10px 15px 10px 15px;
    text-decoration: none;
    -moz-transition: all 0.25s ease-in-out;
    -ms-transition: all 0.25s ease-in-out;
    -webkit-transition: all 0.25s ease-in-out;
    -o-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;
    white-space: nowrap;
    width: auto; }
    button:hover, button:focus,
    .button:hover,
    .button:focus {
      outline: none;
      text-decoration: underline; }

  button::-moz-focus-inner {
    border: 0; }

  .button-secondary {
    background: #eeeeee;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#eeeeee), to(#d9d9d9));
    background-image: -moz-linear-gradient(top, #eeeeee, #d9d9d9);
    background: linear-gradient(top, #eeeeee, #d9d9d9);
    -ms-filter: formatstring("\"progid:DXImageTransform.Microsoft.gradient(startColorStr='{0}', EndColorStr='{1}')\"", #eeeeee, #d9d9d9);
    border-color: #cccccc;
    color: #555555; }
    .button-secondary:hover, .button-secondary:focus {
      border-color: #aaaaaa;
      -webkit-box-shadow: 0 0 3px #aaaaaa;
      -moz-box-shadow: 0 0 3px #aaaaaa;
      box-shadow: 0 0 3px #aaaaaa;
      color: #333333;
      text-decoration: none; }

  .button-primary {
    background: #00a9e0;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#00a9e0), to(#0081ab));
    background-image: -moz-linear-gradient(top, #00a9e0, #0081ab);
    background: linear-gradient(top, #00a9e0, #0081ab);
    -ms-filter: formatstring("\"progid:DXImageTransform.Microsoft.gradient(startColorStr='{0}', EndColorStr='{1}')\"", #00a9e0, #0081ab);
    border-color: #00759b;
    color: #fafafa; }
    .button-primary:hover, .button-primary:focus {
      border-color: #016484;
      -webkit-box-shadow: 0 0 3px #555555;
      -moz-box-shadow: 0 0 3px #555555;
      box-shadow: 0 0 3px #555555;
      color: white;
      text-decoration: none; }

  button[disabled],
  .button-disabled,
  .button-disabled:hover,
  .button-disabled:focus {
    box-shadow: none;
    cursor: text;
    filter: alpha(opacity=0.4);
    -moz-opacity: 0.4;
    -khtml-opacity: 0.4;
    opacity: 0.4; }

  label {
    float: left;
    padding-top: 3px;
    text-align: right;
    width: 30%; }

  label,
  button,
  select {
    cursor: pointer; }

  select,
  input,
  textarea {
    background: white;
    border: 1px solid #d9d9d9;
    -webkit-box-shadow: inset 0 0 3px #d9d9d9;
    -moz-box-shadow: inset 0 0 3px #d9d9d9;
    box-shadow: inset 0 0 3px #d9d9d9;
    -moz-box-sizing: border-box;
    -webkit-sizing: border-box;
    box-sizing: border-box;
    color: #333333;
    -webkit-border-radius: 2px 2px 2px 2px;
    -moz-border-radius: 2px 2px 2px 2px;
    border-radius: 2px 2px 2px 2px;
    font-family: Helvetica, Arial, "DejaVu Sans", "Liberation Sans", Freesans, sans-serif;
    font-size: 1em;
    margin: 0 0 0 10px;
    padding: 5px 5px 5px 5px;
    -moz-transition: all 0.25s ease-in-out;
    -ms-transition: all 0.25s ease-in-out;
    -webkit-transition: all 0.25s ease-in-out;
    -o-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;
    width: 100%; }
    select:focus,
    input:focus,
    textarea:focus {
      -moz-transition: all 0.25s ease-in-out;
      -ms-transition: all 0.25s ease-in-out;
      -webkit-transition: all 0.25s ease-in-out;
      -o-transition: all 0.25s ease-in-out;
      transition: all 0.25s ease-in-out;
      background: white;
      border-color: #00a9e0;
      -webkit-box-shadow: 0 0 3px #00a9e0;
      -moz-box-shadow: 0 0 3px #00a9e0;
      box-shadow: 0 0 3px #00a9e0;
      color: #333333;
      outline: none; }

  fieldset {
    position: relative; }
    fieldset legend > span {
      display: block;
      left: 0;
      padding-top: 5px;
      position: absolute;
      text-align: right;
      width: 30%; }

  form .require {
    color: #ca4242;
    font-size: 1.231em;
    font-weight: 700; }
  form span.error {
    color: #ca4242; }
  form .field .error {
    border-color: #ca4242;
    -webkit-box-shadow: inset 0 0 3px #ca4242;
    -moz-box-shadow: inset 0 0 3px #ca4242;
    box-shadow: inset 0 0 3px #ca4242; }
    form .field .error:focus {
      -webkit-box-shadow: 0 0 3px #ca4242;
      -moz-box-shadow: 0 0 3px #ca4242;
      box-shadow: 0 0 3px #ca4242; }
  form .message {
    display: block;
    font-weight: 700;
    padding: 0 0 0 10px;
    margin: 0 0 5px 30%; }
  form .watermark {
    color: #aaaaaa; }
  form .watermark-removed {
    color: #333333; }
  form .form-row {
    clear: left;
    float: left;
    margin-bottom: 10px;
    padding-bottom: 5px;
    padding-top: 5px;
    width: 100%; }
  form .field {
    float: left;
    width: 60%; }
    form .field button {
      margin: 0 0 0 15px; }
  form .submit-row {
    -webkit-border-radius: 2px 2px 2px 2px;
    -moz-border-radius: 2px 2px 2px 2px;
    border-radius: 2px 2px 2px 2px;
    clear: left;
    float: left;
    margin: 0 0 15px;
    padding: 10px 0 0;
    width: 100%; }
  form .check-box,
  form .radio-box {
    margin: 0 0 10px;
    overflow: hidden;
    padding-left: 30%; }
    form .check-box input,
    form .radio-box input {
      border: none;
      cursor: pointer;
      float: left;
      position: relative;
      top: 5px;
      width: auto; }
    form .check-box label,
    form .radio-box label {
      padding-left: 10px;
      float: left;
      text-align: left;
      width: auto; }
  form .landscape {
    -moz-box-sizing: border-box;
    -webkit-sizing: border-box;
    box-sizing: border-box;
    padding-left: 30%;
    position: relative;
    width: auto;
    min-width: 100%; }
    form .landscape fieldset {
      padding-left: 10px; }
    form .landscape legend > span {
      font-size: 1em;
      left: -30%;
      text-align: right;
      width: 30%; }
    form .landscape .field {
      width: 100%; }
    form .landscape .plot {
      float: left;
      margin: 0 10px 0 0;
      width: 15%; }
    form .landscape select {
      margin: 0; }
  form .sml {
    width: 15%; }
  form .med {
    width: 30%; }
  form .lrg {
    width: 60%; }

  .linear .landscape {
    padding-left: 5px; }
    .linear .landscape fieldset {
      padding: 0; }
    .linear .landscape legend > span {
      position: static;
      padding: 0;
      width: auto; }
  .linear label {
    float: none;
    text-align: left;
    width: auto; }
  .linear select,
  .linear input,
  .linear textarea {
    margin: 0; }
  .linear .message {
    margin-left: 0;
    padding-left: 0; }
  .linear .field {
    clear: left;
    padding: 5px 0 0;
    width: 100%; }
  .linear fieldset legend > span {
    padding: 0 0 10px;
    position: static;
    text-align: left;
    width: 100%; }
  .linear .check-box,
  .linear .radio-box {
    padding-left: 0; }

  .error-summary {
    border: 2px solid #ca4242;
    -webkit-border-radius: 2px 2px 2px 2px;
    -moz-border-radius: 2px 2px 2px 2px;
    border-radius: 2px 2px 2px 2px;
    margin: 0 0 15px;
    overflow: hidden;
    padding: 15px 15px; }
    .error-summary h2 {
      color: #ca4242; }
    .error-summary a {
      color: #ca4242;
      font-weight: 700; } }
@media only screen and ( min-width: 480px ) and ( max-width: 850px ) {
  form .sml,
  form .med,
  form .lrg {
    width: 100%; } }
@media only screen and ( min-width: 320px ) and ( max-width: 519px ) {
  select,
  input,
  textarea {
    padding: 10px 10px 10px 10px; }

  button {
    margin: 0 0 0 5px; }

  form .landscape {
    padding-left: 5px; }
    form .landscape fieldset {
      padding: 0; }
    form .landscape legend > span {
      position: static;
      padding: 0;
      width: auto; }
    form .landscape .plot {
      width: 30%; }
  form label {
    float: none;
    text-align: left;
    width: auto; }
  form select,
  form input,
  form textarea {
    margin: 0; }
  form .form-row {
    margin: 0 0 5px; }
  form .field {
    clear: left;
    padding: 5px 0 0;
    width: 100%; }
  form fieldset legend > span {
    padding: 0 0 10px;
    position: static;
    text-align: left;
    width: 100%; }
  form .check-box,
  form .radio-box {
    padding-left: 0; }
  form .sml,
  form .med,
  form .lrg {
    -moz-box-sizing: border-box;
    -webkit-sizing: border-box;
    box-sizing: border-box;
    width: 100%; }
  form .message {
    margin-left: 0;
    padding-left: 0; } }
