@media screen {
		
	// Buttons and call to actions
	button,
	.button {
		background: none;
		border: 1px solid transparent;
		@include border-radius($border-sml);
		color: $colour-action;
		cursor: pointer;
		float: right;
		font-family: $font-family-1;
		font-size: 1em;
		line-height: 1;
		margin: 0 0 0 $margin-med;
		overflow: visible;
		padding: $pad-med $pad-lrg $pad-med $pad-lrg;
		text-decoration: $text-decoration;
		@include transition();
		white-space: nowrap;
		width: auto;
		
		&:hover,
		&:focus {
			outline: none;
			text-decoration: $text-decoration-hover;
		}
	}
	button::-moz-focus-inner {
		border: 0;
	}
	.button-secondary {
		@include background-gradient($colour-compliment-med, $colour-compliment);
		border-color: $colour-compliment-dark;
		color: $colour-bold;
		
		&:hover,
		&:focus {
			border-color: $colour-compliment-darkest;
			@include box-shadow();
			color: $colour-body;
			text-decoration: $text-decoration;
		}
	}
	.button-primary {
		@include background-gradient($colour-action, $colour-action-med);
		border-color: $colour-action-dark;
		color: $colour-blur;
		
		&:hover,
		&:focus {
			border-color: $colour-action-darkest;
			@include box-shadow(0, 0, $shadow-box-radius, $colour-bold);
			color: $colour-sharp;
			text-decoration: $text-decoration;
		}
	}
	button[disabled],
	.button-disabled,
	.button-disabled:hover,
	.button-disabled:focus, {
		box-shadow: none;
		cursor: text;
		.opacity();
	}

	// Global elements
	label {
		float: left;
		padding-top:$pad-sml - 2;
		text-align: right;
		width: $width-med;
	}
	label, 
	button, 
	select {
		cursor: pointer;
	}
	select, 
	input,
	textarea {
		background: $colour-sharp;
		border: 1px solid $colour-compliment;
		@include box-shadow-inset(0, 0, $shadow-box-radius, $colour-compliment);
		@include box-sizing();
		color: $colour-body;
		@include border-radius($border-sml);
		font-family: $font-family-1;
		font-size: 1em;
		margin: 0 0 0 $margin-med;
		padding: $pad-sml $pad-sml $pad-sml $pad-sml;
		@include transition();
		width: $width-default;
		
		&:focus {
			@include transition();
			background: $colour-sharp;
			border-color: $colour-action;
			@include box-shadow(0, 0, $shadow-box-radius, $colour-action);
			color: $colour-body;
			outline: none;
		}
	}
	fieldset {
		position: relative;
		
		legend > span {
			display: block;
			left: 0;
			padding-top: $pad-sml;
			position: absolute;
			text-align: right;
			width: $width-med;
    	}
    }
	
	form {
		
		.require {
			color: $colour-error;
			font-size: 1.231em;
			font-weight: 700;
		}
		
		// Errors
		span.error {
			color: $colour-error;
		}
		.field .error {
			border-color: $colour-error;
			@include box-shadow-inset(0, 0, $shadow-box-radius, $colour-error);
			
			&:focus {
				@include box-shadow(0, 0, $shadow-box-radius, $colour-error);
			}
		}	
		.message {
			display: block;
			font-weight: 700;
			padding:0 0 0 $pad-med;
			margin:0 0 $margin-sml $width-med;
		}
		
		// Watermarks
		.watermark {
			color: $colour-compliment-darkest;
		}
		.watermark-removed {
			color: $colour-body;
		}
		
		// General layout	
		.form-row {
			clear: left;
			float: left;
			margin-bottom: $margin-med;
			padding-bottom: $pad-sml;
			padding-top: $pad-sml;
			width: 100%;
		}
		.field {
			float: left;
			width: $width-lrg;
			
			button {
				margin:0 0 0 $margin-lrg;
			}
		}
		.submit-row {
			@include border-radius($border-sml);
			clear: left;
			float: left;
			margin: 0 0 $margin-lrg;
			padding: $pad-med 0 0;
			width: 100%;
		}
		
		// Check boxes and radio buttons		
		.check-box,
		.radio-box {
			margin: 0 0 $margin-med;
			overflow: hidden;
			padding-left: $width-med;
			
			input {
				border: none;
				cursor: pointer;
				float: left;
				position: relative;
				top: 5px;
				width: auto;
			}
			label {
				padding-left: $pad-med;
				float: left;
				text-align: left;
				width: auto;
			}
		}
		
		// Landscape for radio and checkboxes
		.landscape {
			@include box-sizing();
			padding-left: $width-med;
			position: relative;
			width: auto;
			min-width: 100%;
			
			fieldset {
				padding-left: $pad-med;
			}
			legend > span {
				font-size: 1em;
				left: -30%;
				text-align: right;
				width: $width-med;
			} 
			.field {
				width: $width-default;
			}
			.plot {
				float: left;
				margin:0 $margin-med 0 0;
				width: $width-sml;
			}
			select {
				margin: 0;
			}
		}
		
		// Element widths		
		.sml {
			width: $width-sml;
		}
		.med {
			width: $width-med;
		}
		.lrg {
			width: $width-lrg;
		}
	}
	
	// Linear form layouts
	.linear {
	
		// Landscape for radio and checkboxes
		.landscape {
			padding-left: $pad-sml;
			
			fieldset {
				padding: 0;
			}
			
			legend > span {
				position: static;
				padding: 0;
				width: auto;
			}
		}
		
		// General linear layout
		label {
			float: none;
			text-align: left;
			width: auto;
		}		
		select, 
		input,
		textarea {
			margin: 0;
		}
		.message {
			margin-left: 0;
			padding-left: 0;
		}
		.field {
			clear: left;
			padding: $pad-sml 0 0;
			width:100%;
		}
		fieldset legend > span {
			padding: 0 0 $pad-med;
			position: static;
			text-align: left;
			width:100%;
		}
		.check-box,
		.radio-box {
			padding-left:0;
		}
	}
	
	// Error summary is inserted before the form
	.error-summary {
		border: 2px solid $colour-error;
		@include border-radius($border-sml);
		margin: 0 0 $margin-lrg;
		overflow: hidden;
		padding: $padding-lrg;
		
		h2 {
			color: $colour-error;
		}
		a {
			color: $colour-error;
			font-weight: 700;
		}
	}
}

// Mobile landscape to small tablet
@media only screen and ( min-width: 480px ) and ( max-width: 850px ) {

	form {
		
		// Field sizes to max	
		.sml,
		.med,
		.lrg {
			width: 100%;
		}	
	}

}

// Mobile landscape and portrait
@media only screen and ( min-width: 320px ) and ( max-width: 519px ) {

	// General elements
	select, 
	input,
	textarea {
		padding: $pad-med $pad-med $pad-med $pad-med;
	}
	button {
		margin: 0 0 0 $margin-sml;
	}

	// Form spacing reductions
	form {
	
		// Landscape for radio and checkboxes
		.landscape {
			padding-left: $pad-sml;
			
			fieldset {
				padding: 0;
			}
			
			legend > span {
				position: static;
				padding: 0;
				width: auto;
			}
			.plot {
				width: $width-med;
			}
		}
		
		// General linear layout for all elements
		label {
			float: none;
			text-align: left;
			width: auto;
		}		
		select, 
		input,
		textarea {
			margin: 0;
		}
		.form-row {
			margin: 0 0 $margin-sml;
		}
		.field {
			clear: left;
			padding: $pad-sml 0 0;
			width: 100%;
		}
		fieldset legend > span {
			padding: 0 0 $pad-med;
			position: static;
			text-align: left;
			width: 100%;
		}
		.check-box,
		.radio-box {
			padding-left: 0;
		}

		// Field sizes to max	
		.sml,
		.med,
		.lrg {
			@include box-sizing();
			width: $width-default;
		}
		
		// Errors
		.message {
			margin-left: 0;
			padding-left: 0;
		}
	}	
}

// Mobile portrait
@media only screen and ( min-width: 320px ) and ( max-width: 479px ) {

}