@media screen {

	// Hidden classes
	.access {
		left: -9999em;
		position: absolute;
		top: -9999em;
	}
	.hide {
		display: none;
	}
	.invisible {
		visibility: hidden;
	}
	
	// Images
	.img-right {
		float:right;
		margin:0 0 $margin-sml $margin-lrg;	
	}
	.img-left {
		float:right;
		margin:0 $margin-lrg $margin-sml 0;	
	}
	
	// Content
	.tabula-rasa {
		background: $colour-sharp;
		border: 1px solid $colour-compliment-dark;
		@include border-radius($border-sml, $border-sml, $border-sml, $border-sml);
		margin: 0 0 $margin-lrg;
		overflow: hidden;
		padding: $pad-lrg $pad-med $pad-med;
	}
	.txt-justify {
		text-align: justify;
	}
	
	// Lists
	.list-plain {
		list-style-type: none;
		margin-left: 0;
	}
}
// Mobile landscape to small tablet
@media only screen and ( min-width: 480px ) and ( max-width: 850px ) {
	
	// Content
	.tabula-rasa  {
		margin: 0 0 $margin-med;
	}
}

// Mobile landscape and portrait
@media only screen and ( min-width: 320px ) and ( max-width: 519px ) {
	
	// Images
	.img-right {
		margin-left:$margin-sml;
	}
	.img-left {
		margin-right:$margin-sml;
	}
}

// Mobile portrait
@media only screen and ( min-width: 320px ) and ( max-width: 479px ) {
	
	// Images
	.img-right,
	.img-left {
		margin:0 0 $margin-sml;
	}
	
	// Content
	.tabula-rasa  {
		margin: 0 0 $margin-sml;
	}
}